*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
.idea
libwildcat.so
libwildcat.h
libwildcat.dll
c/libwildcat.so
c/libwildcat.h
c/libwildcat.dll
c/wildcat_example
c/wildcat_example.exe